.App {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  min-height: 100vh;
  padding-top: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.search-bar {
  width: 60%;
  padding: 10px;
  border: 2px solid black;
  background: transparent;
  color: black;
  font-size: 1rem;
}

.search-btn {
  margin-left: 1rem;
  padding: 10px 20px;
  background: transparent;
  border-radius: 5px;
  font-size: 1rem;
}

.search-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
